.page-search .form-text {
    max-width: 300px;
    width: auto;
}
.page-search .form-item,
.page-search .form-actions {
    margin: 5px 0;
}
.page-search .settings-calendar,
.page-search .list-caldav,
.page-search .new-caldav {
    margin: 10px 0;
}

/* general block css */
.sitemap-table tr{
  background-color: transparent !important;
}
.sitemap-table tr td, 
.sitemap-table tr th{
  border: 0px !important;
  margin:5px!important;
}
