/*.page-search .form-text {
    max-width: 300px;
    width: auto;
}
.page-search .form-item,
.page-search .form-actions {
    margin: 5px 0;
}
.page-search .settings-calendar,
.page-search .list-caldav,
.page-search .new-caldav {
    margin: 10px 0;
}
*/
/*
#advanced-fields{
  float:left;
  margin-right:30px;
}
*/
#wrap-search .submit-save {
  margin-top: 17px;
}
#wrap-search .form-item {
  float:left;
  margin-right:20px;
}
#wrap-search input#edit-text.form-text {
  padding:7px;
}
  
  /*earch-result-form*/
#mathe-search-results-form {
  float: left;
  margin: 20px 0;
  padding: 10px;
  width: 936px;
  border: 1px solid lightgray;
}
/*
#mathe-advanced-form,
#mathe-advanced-results-form,
#mathe-search-results-form{
  border:1px solid lightgrey;
  padding:10px;
}
#mathe-advanced-form{
  float:right;
  width:510px;
  margin-bottom: 10px!important;
}
#mathe-advanced-results-form,
#mathe-search-results-form{
  float:none;
  clear:both;
  margin-top:10px;
}
*/
/*-----------------------------------------------------------------*/
/* search result*/

.search-result{
  padding:10px;
  margin:5px 0 5px 0;
}

